*{
    font-family: "Open Sans", sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-image: linear-gradient(to bottom, #318ffb, #0066ff);
}
.header>a>img{
    width: 200px;
}
.body{
    width: 100%;
    height: 600px;
    background-image: url(/images/signup-background.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

#signup-form{
    width: 25%;
    /* position: absolute; */
    background-color: white;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    
    border-radius: 5px;
}

#signup-form>div:first-child{
    display: flex;
    justify-content: space-between;
}

.bold{
    font-weight: bold;
    font-size: 18px;
}
.fontbig{
    font-size: 14px;
    cursor: pointer;
}
input{
    padding: 15px;
    border: #ccc 1px solid;
    border-radius: 4px;
}
.policycheck u,input{
    cursor: pointer;
}
input[type="submit"]{
    color: white;
    background-color: #0066ff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.errors{
    font-size: 13px;
    color: red;
    margin-left: -20px;
    margin-top: -15px;
}